# Ignore node_modules (root and subfolders)
node_modules/

# Env files
.env

# Editor / OS files
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Mac / Windows
Thumbs.db
*.log
